body{
	background-color: #dddddd;
}
#content{
	margin:auto;
	width: 960px;
}
#header{
	width: 100%;
	float: center;
	height: 300px;
	background: url(coding.png);
}
.navbar{
	color: white;
	text-decoration: none;
}

.navbar li{
	list-style: none;
	display: inline-block;
}
.navbar li .image{
	height: 25px;
	width: 25px;
}
#menu{
	width: 100%;
	height: 60px;
	float: left;
	background-color: #333333;
	display: flex;
	justify-content: flex-end;
}
#main-content{
	width: 100%;
	min-height: 300px;
}
#news{
	width: 580px;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: white;
	padding-left: 80px;
	padding-top: 50px;
}
#text{
	width: 500px;
	height: 300px;
}
#sidebar{
	width: 260px;
	height: 680px;
	overflow: auto;
	float: left;
	background-color: #eeeeee;
	padding-left: 30px;
	padding-top: 100px;
	font-size: 16px;
}
#line{
	height: 1px;
	background-color: grey;
}
#footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #333333;
}